---

  const { team } = Astro.props;

---


<!-- TODO FAZER CAROSEL DE EQUIPES/IMAGENS -->
 
<div class="card">
  <h2>{team.name}</h2>

  <ul>
    {team.drivers.map((name) => (
      <li>{name}</li>
    ))}
  </ul>

  <img src={team.image} alt="car">
  <!-- <img src={team.logo} alt="car"> -->
</div>

<style>
  .card {
    padding: 1rem;
    border: 1px solid #444;
    border-radius: 8px;
    margin-bottom: 1rem;
  }
</style>
