
<div class="footer">
  <p class="author">Made with ❤️ by <a href="https://github.com/Cauanz" target="_blank">Cauan</a></p>
</div>


<style>

  .footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
    background-color: #070024;
    padding: 5px;
  }

  .author {
    color: white;
    font-weight: bold;
  }

  .author a {
    color: #004529;
    text-decoration: none;
    font-weight: bold;
  }

</style>