
<nav>
  <ul>
    <li id="wecbox"><a href="/wec">WEC</a></li>
    <li id="imsabox"><a href="/imsa">IMSA</a></li>
  </ul>
</nav>

<style>
  nav {
    height: 100%;
    display: flex;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    height: 100%;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  #wecbox {
    background-color: #0085b8;
  }

  #imsabox {
    background-color: #861419;
  }


</style>