---
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import teams from "../../data/teams.json";
import CardTeam from "../../components/CardTeam.astro";

export const getStaticPaths = (() => {
	return [
		{ params: {series: "wec"}},
		{ params: {series: "imsa"}}
	];
}) satisfies GetStaticPaths;

const { series } = Astro.params as { series: "wec" | "imsa" };
const seriesTeam = series === "wec" ? teams.wec : teams.imsa;

---


<Layout>

	<div class="main">
		<h1 class="title">{series === "wec" ? "World Endurance Championship" : "IMSA"}</h1>
	
		
	<main>
		{teams.wec.lmgt3.map(team => (
			<CardTeam team={team} />
		)) }
	</main>
	
	
	
	</div>

</Layout>


<style>

	.title {
		font-weight: bold;
		text-align: center;
	}

</style>