---
export const prerender = false
import type { GetStaticPaths } from "astro";
import Layout from '../../layouts/Layout.astro';
import teams from "../../data/teams.json";
import CardTeam from "../../components/CardTeam.astro";

export const getStaticPaths = (() => {
	return [
		{ params: {series: "wec"}},
		{ params: {series: "imsa"}}
	];
}) satisfies GetStaticPaths;

const { series } = Astro.params as { series: "wec" | "imsa" };

const categories = Object.keys(teams[series]) as Array<keyof typeof teams[typeof series]>;
const curCategory = (Astro.url.searchParams.get("cat") as keyof typeof teams[typeof series]) ?? categories[0];

const selected = teams[series]?.[curCategory];

---


<Layout>

	<!-- TODO MELHORAR ESSE MENU -->
	<nav>
		{categories.map(category => (
			<a href={`/${series}?cat=${category}`} class={category === curCategory ? "active" : ""}>{category}</a>
		))}
	</nav>

	<div class="main">
		<h1 class="title">{series === "wec" ? "World Endurance Championship" : "IMSA"}</h1>


	<main>
		{selected.map(team => (
			<CardTeam team={team} />
		)) }
	</main>
	
	
	
	</div>

</Layout>


<style>

	.title {
		font-weight: bold;
		text-align: center;
	}

	nav {
		display: flex;
		width: 100%;
		background: #9b9b9b;
		height: 50px;
	}

	a {
		height: 100%;
		text-decoration: none;
		background: #f4f4f4;
		color: #333;
		transition: background 0.3s;
		display: flex;
		align-items: center;
		padding: 10px;
		font-weight: bold;
		text-transform: uppercase;
	}

	.active {
		background: #e67e07;
	}

</style>